
  <div class="container">
    <div class="row user-action">
      <fieldset class="fieldset-shape">
        <legend class="legend-format"><span class="fieldset-title">Click on your option</span></legend>
        <div class="col-sm-12 col-md-4">
            <img id="imgRock" src="../../../../assets/images/rock.jpg" title="Rock" class="img-thumbnail" (click)="doAction(1)">
        </div>
        <div class="col-sm-12 col-md-4">
            <img id="imgPaper" src="../../../../assets/images/paper.jpg" title="Paper" class="img-thumbnail" (click)="doAction(2)">
        </div>
        <div class="col-sm-12 col-md-4">
            <img id="imgScissor" src="../../../../assets/images/scissors.jpg" title="Scissor" class="img-thumbnail" (click)="doAction(3)">
        </div>
      </fieldset>
    </div>
  </div>

  
